<html>

<style type="text/css">
    #barra {
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        color: darkblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    nav ul a {
			color: darkblue;
			text-decoration: none;
	}
    
	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
</style>

<head>
</head>

<body>
    <ul id="barra">
        <li><a href="/TodosLosIncidentesReportados">Todos los incidentes reportados</a></li>
        <hr />
        <li><a href="/ReportarIncidente">Reportar incidente</a></li>
        <hr />
        <li><a href="/IncidentesReportadosPorElUsuario">Incidentes reportados por el usuario</a></li>
        <hr />
        <li><a href="/IncidentesEnElMapa">Incidentes en el mapa</a></li>
        <hr />
        <li><a href="/Ajustes">Ajustes</a></li>
    </ul>
</body>

</html>

