{% extends "baseLayout.html" %}
<html>

<head>
    {% block title %} Todos los incidentes reportados {% endblock %}
</head>

<body>
    {% block content %}
    <h2>LISTA DE TODOS LOS INCIDENTES</h2>
    <table>
      <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Age</th>
      </tr>
      <ul>
        {% for element in var %} 
      <tr>
          <td> {{ element.1}} </td>
          <td> {{ element.1}} </td>
          <td>16</td>
      </tr>
        {% endfor %}
     </ul>
     {% endblock %}
     
  </table>
</body>

</html>